<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502543521894-jrhjv3o37nlefjf3nt6tg3lp5okqr31e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502543521894-jrhjv3o37nlefjf3nt6tg3lp5okqr31e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502543521894-fue33gnaubim0ju2c5akcb34n98uta1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMXBdXOAbUf-e3exS1cfi9ADCSORen-x8</string>
	<key>GCM_SENDER_ID</key>
	<string>502543521894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.io.memo.planner</string>
	<key>PROJECT_ID</key>
	<string>flutter-memoplanner</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-memoplanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502543521894:ios:a6162b5fd51e8cbb44f5a7</string>
</dict>
</plist>